{% extends 'tasks/base.html' %}
{% load static %}
{#标题#}
{% block title %}增加班级{% endblock %}

{% block css %}
    <script>
        {% if add_success %}
            alert("{{ add_success }}");  //因为后端是用render，所以成功添加之后，跳转到另一个页面之后，正确信息没有打印，所以就把信息在当前页打印
        {% elif add_error %}
            alert("{{ add_error }}");
        {% endif %}
    </script>
{% endblock %}

左侧导航条

{#右侧定位标题#}
{% block contenttitle %}
    <h4 class="page-title">班级管理</h4>
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">主页</a></li>
        <li><a href="#">班级管理</a></li>
        <li class="active">增加班级</li>
    </ol>
{% endblock %}

{#主体内容#}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h2 class="header-title">增加班级</h2>
            <form id="example-form" class="js-validation-bootstrap form-horizontal" action="{% url 'add_group' %}"
                  method="post">

                <div class="clearfix">
                    <label class="col-md-2  control-label" for="group">班级 *</label>
                    <div class="col-md-8">
                        <input id="group" required name="group" type="text" class="required form-control" placeholder="请输入班级">
                    </div>
                </div><br />

                <div class="clearfix">
                    <label for="amount" class="col-md-2  control-label">人数 *</label>
                    <div class="col-md-8">
                        <input id="amount" required name="amount" type="text" class="required form-control"
                               placeholder="请输入班级人数">
                    </div>
                </div><br />

                <div class="clearfix">
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn  btn-primary" type="submit" onclick="Show()" >确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{#    <script src="{% static 'assets/pages/jquery.validate.min.js' %}"></script>#}
{#    <script src="{% static 'assets/pages/validation-custom.js' %}"></script>#}
    <script>
        $('#group_manage').addClass('nav-active');
        $('#add_group').addClass('active');  //导航栏样式
        function Show() {
            if ($('#group').val() && $('#amount').val()){
               console.log("允许用户提交");
            }
            else {
                alert("输入不能为空");
                return false;
            }
        }
    </script>
{% endblock %}