{% extends 'tasks/base.html' %}

{#标题#}
{% block title %}管理员列表{% endblock %}
{% block css %}
    <style>
			body {
				background: url({% static 'assets/images/bg2.jpg' %}) no-repeat 0px 0px;
				background-size: cover;
			}
			/*.doctortab{
				display: none;
			}*/
            .mymark {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                z-index: 999;
                height: 40px;
                line-height: 0.88rem;
                width: 200px;
                text-align: center;
                font-size: 16px;
                line-height: 40px;
                color: #fff;
                background: rgb(248, 106, 94);
                border-radius: 0.1rem;
                box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
            }
	</style>
    <script>
        {% if add_true %}
            myalert('{{ add_success }}');  //添加管理员成功之后就会跳到这个页面，这儿是显示添加成功
        {% endif %}
        function myalert(str) {
            var div = '<div class="mymark"></div>';
            $('body').append(div);
            $('.mymark').html(str);
            $('.mymark').show();
            setTimeout(function () {
                $('.mymark').fadeTo(2800, 0.01, function () {//fade
                    $(this).remove();
                });
            })
        }

        window.onload = function () {
            {% if add_error %}
                myalert('{{ add_error }}');
            {% endif %}
        };

    </script>
    <link href="{% static 'assets/plugins/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/datatables/css/jquery.dataTables-custom.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
    <script>
        $('#admin_manage').addClass('icon-envelope-open');
        $('#admin_list').addClass('active');
    </script>

{% endblock %}
左侧导航条

{#右侧定位标题#}
{% block contenttitle %}
    <h4 class="page-title">管理员管理</h4>
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">主页</a></li>
        <li><a href="#">管理员管理</a></li>
        <li class="active">管理员列表</li>
    </ol>
{% endblock %}

{#主体内容#}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h2 class="header-title">现有管理员列表</h2>
                <div class="table-responsive">
                    <a class="btn btn-primary" href="{% url 'addadmin' %}" style="margin:0 0 20px 0 ;">添加</a>
                    <table id="example" class="display table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>管理员名</th>
                            <th>职位</th>
                            <th>性别</th>
                            <th>联系电话</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for admin in admins %}
                            <tr id="{{ forloop.counter }}">  <!--保证每一行的id不同，count1,count2.....-->
                                <th>{{ forloop.counter }}</th>
                                <th>{{ admin.name }}</th>
                                <th>{{ admin.position }}</th>
                                {% if admin.gender == "male" %}
                                    <th>男</th>
                                {% else %}
                                    <th>女</th>
                                {% endif %}
                                <th>{{ admin.username }}</th>
                                <th>
                                    <!--编辑功能所在模态框开始-->
                                    {% if user_type == "1" %}  <!--只有医院才有权编辑-->
                                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">编辑</button>
                                    {% endif %}

                                    <div class="modal fade" id="myModal{{ forloop.counter }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- 模态框头部 -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title text-center">头在这儿</h4>
                                                    <br /><button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- 模态框主体内容 -->
                                                <div class="modal-body">
                                                    <form action="{% url 'edit_admin' %}" method="post">
                                                    <div style="line-height: 28px;margin:0 auto;width:400px">

                                                        <label style="display: none;">编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：
                                                            <input type="text" name="number" id="number{{ forloop.counter }}" value="{{ admin.id }}"></label>
                                                        <br>  <!--该标签只是为了存取当前选中的管理员的id，以便返回返回到后台时可以用这个id找到该用户，进行资料的修改。但是该标签无法修改，也不能显示给用户看-->
                                                        <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
                                                            <input type="text" name="name" id="name{{ forloop.counter }}" value="{{ admin.name }}"></label>
                                                        <br>
                                                        <label>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：
                                                            <input type="text" name="phone" id="phone{{ forloop.counter }}" value="{{ admin.username }}"></label>
                                                        <br>
                                                        <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：
                                                            <input type="password" name="pwd" id="pwd{{ forloop.counter }}" onmouseout = "mouseout('{{ forloop.counter }}')" placeholder=""></label>
                                                        <br>
                                                        <label class="" id="is_show{{ forloop.counter }}" style="display: none;">确认密码：
                                                            <input type="password" name="pwd_again" id="pdw_again{{ forloop.counter }}" placeholder=""><br></label>
                                                        <label>职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位：
                                                            <input type="text" name="position" id="position{{ forloop.counter }}" value="{{ admin.position }}"></label>
                                                        <br>
                                                        <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：
                                                            <input type="email" name="email" id="email{{ forloop.counter }}" value="{{ admin.email }}"></label>
                                                        <br>
                                                        <label>自我介绍：
                                                            <textarea type="text" name="details" id="details{{ forloop.counter }}" placeholder="{{ admin.details }}"></textarea></label>
                                                        <br>
                                                        <button type="button" class="btn btn-dark" onclick="Modify({{ forloop.counter }})">确定修改</button>
                                                    </div>
                                                    </form>
                                                </div>

                                                <!-- 模态框底部 -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--编辑功能模态框功能结束-->
                                    <!--可用下方script里注释的ajax的方法，data里是字典型数据-->
                                    <button class="btn btn-primary" onclick="DelAdmin({{ forloop.counter }})">删除</button>
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/pages/table-data.js' %}"></script>
    <script src="{% static 'assets/plugins/sweetalert/sweet-alert.js' %}"></script>
    <script>
        $('#admin_manage').addClass('nav-active');
        $('#admin_list').addClass('active');  //导航栏样式

        function mouseout(pid){
            if ($('#pwd'+pid).val()){
                //如果用户在密码框内输入了内容，那么就显示确认密码框
                //$('.no_show').removeAttr('class');   //当鼠标离开密码框时，触发就显示确认密码框
                $('#is_show'+pid).css("display", "block")
            }
            else{
                //密码没有内容，说明用户不修改密码
                $('#is_show'+pid).css('display', 'none');
            }
        }

        function Modify(a_id) {
            var tag = document.getElementById(a_id);

            swal({
                    title: "你确定修改吗？",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确认",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true // 显示删除的状态
                },
                function () {
                    // 向后端发送删除的请求
                    $.ajax({
                        url: "{% url 'edit_admin' %}",
                        async: false,  // 同步：也就是只有后端返回了数据时才显示后面的内容
                        type: "POST",
                        data: {
                            "id": $('#number'+a_id).val(),  //用户id，后台修改谁的信息，就是依赖这个值去确定的。
                            "name": $('#name'+a_id).val(),
                            "phone": $('#phone'+a_id).val(),
                            "pwd": $('#pwd'+a_id).val(),
                            "position": $("#position"+a_id).val(),
                            "email": $('#email'+a_id).val(),
                            "details": $('#details'+a_id).val(),
                        },
                        success: function(arg) {
                            arg = JSON.parse(arg);
                            if (arg["status"]){
                                //alert("修改成功");
                                swal("修改", "你已成功修改", "success");
                                window.location.href = '{% url 'listadmin' %}' //修改成功后跳转到该页
                            }
                            else {
                                swal("修改", arg["edit_error"], "fails");
                                //alert("删除管理员失败")
                            }
                        }
                    });

                });
            }

        function DelAdmin(a_id) {
            var tag = document.getElementById(a_id);

            swal({
                    title: "你确定删除吗？",
                    text: "删除不能恢复哦",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确认",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true // 显示删除的状态
                },
                function () {
                    // 向后端发送删除的请求
                    $.ajax({
                        url: "{% url 'del_admin' %}",
                        type: "POST",
                        data: {
                            "id": $('#number'+a_id).val()  // 要删除的的用户的id
                        },
                        fails: function(arg) {
                            arg = JSON.parse(arg);
                            swal("删除", arg["del_error"], "fails");
                        },
                        success: function(arg) {
                            arg = JSON.parse(arg);
                            if (arg["status"]){
                                tag.remove(); // 删去该行数据
                                swal("删除", "你已成功删除", "success");
                            }
                            else {
                                swal("删除", arg["del_error"], "fails");
                            }
                        }
                    });

                });
            }
    </script>
{% endblock %}