{% extends 'tasks/base.html' %}
{% load static %}
{#标题#}
{% block title %}修改资料{% endblock %}

{% block css %}
    <style>
        .error{
            color: red;
        }
    </style>
{% endblock %}

左侧导航条


{#右侧定位标题#}
{% block contenttitle %}
    <h4 class="page-title">我的</h4>
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">主页</a></li>
        <li><a href="#">我的</a></li>
        <li class="active">修改资料</li>
    </ol>
{% endblock %}

{#主体内容#}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h2 class="header-title">修改资料</h2>
                    <form id="example-form" class="js-validation-bootstrap form-horizontal" action="{% url 'modify' %}" method="post" name="admin">
                        <!--编辑自己的信息--->
                        <div class="form-group clearfix">
                            <label for="name" class="col-md-2 control-label">姓名 *</label>
                            <div class="col-md-8">
                                <input id="name" name="name" required type="text" class="required form-control"
                                value="{{ student.name }}">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="username" class="col-md-2 control-label">学号 *</label>
                            <div class="col-md-8">
                                <input id="username" name="username" required type="text" class="required form-control"
                                value="{{ student.username }}">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="age" class="col-md-2 control-label">年龄 *</label>
                            <div class="col-md-8">
                                <input id="age" name="age" required type="text" class="required form-control"
                                value="{{ student.age }}">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="gender" class="col-md-2 control-label">性别 *</label>
                            <div class="col-md-8">
                                <input id="gender" name="gender" required type="text" class="required form-control"
                                value="{{ student.gender }}">
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="password" class="col-md-2 control-label">密 码 *</label>
                            <div class="col-md-8">
                                <input id="password" required name="password" type="password" class="required form-control"
                                placeholder="*******">
                            </div>
                        </div>

                        <!--<div class="form-group clearfix">
                            <label for="password" class="col-md-2 control-label">密 码 *</label>
                            <div class="col-md-8">
                                <input id="password" required name="password" type="password" class="required form-control"
                                placeholder="*******" onmouseout = "MouseOut()">
                            </div>
                        </div>

                        <div class="form-group clearfix" id="pwd_again" style="display: none;">
                            <label for="confirm" class="col-md-2 control-label">确认密码 *</label>
                            <div class="col-md-8">
                                <input id="confirm" name="confirm" required type="password" class="required form-control">
                            </div>
                        </div>-->

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <button type="button" class="btn  btn-primary" id="admin" onclick="Modify()">确认修改</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'assets/pages/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/pages/validation-custom.js' %}"></script>
    <script src="{% static 'assets/plugins/sweetalert/sweet-alert.js' %}"></script>
    <script>
        $('#my_task').addClass('nav-active');
        $('#modify').addClass('active');  //导航栏样式

        function MouseOut(){
            if ($('#password').val()){
                //如果用户在密码框内输入了内容，那么就显示确认密码框
                $('#pwd_again').css("display", "block");
            }
            else{
                //密码没有内容，说明用户不修改密码
                $('#pwd_again').css('display', 'none');
            }
        }

        function Modify() {
            //这是管理员提交修改资料
            swal({
                    title: "你确定修改吗？",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确认",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true // 显示删除的状态
                },
                function () {
                    // 向后端发送删除的请求
                    $.ajax({
                        url: "{% url 'modify' %}",
                        async: false,  // 同步：也就是只有后端返回了数据时才显示后面的内容
                        type: "POST",
                        data: {
                            "name": $('#name').val(),
                            "username": $('#username').val(),
                            "password": $('#password').val(),
                            "age": $('#age').val(),
                            "gender": $('#gender').val()
                        },
                        success: function(arg) {
                            arg = JSON.parse(arg);
                            if (arg["status"]){
                                swal("修改", "你已成功修改", "success");
                                $("#rightname").text(arg["name"]);
                            }
                            else {
                                swal("修改", arg["modify_error"], "fails");
                            }
                        }
                    });

                });
            }

        var form = $("#example-form");
        form.validate({
            debug: true,
            errorPlacement: function (error, e) {
                jQuery(e).parents('.form-group > div').append(error);
            },
            success: function (e) {
                jQuery(e).closest('.form-group').removeClass('has-error');
                jQuery(e).closest('.help-block').remove();
            },
            rules: {
                'confirm': {
                    minlength: 6,
                    equalTo: "#password"
                },
                'password': {
                    minlength: 6,
                }

            },

        });
    </script>
{% endblock %}